<tr>
	<td align="center" valign="top">
		<table border="0" cellpadding="0" cellspacing="0" width="100%"
			class="bloque">

			<tr>
				<td class="titulo">
					<h4>
						<a target="_BLANK" href="{{bloque.link}}">
							{{bloque.titulo}}
						</a>
					</h4>
				</td>
			</tr>


			{% if bloque.contenido %}
				<tr>
					<td class="contenido">
						{{ bloque.contenido|raw }}
					</td>
				</tr>
			{% endif %}


			{% if bloque.info %}
				<tr>
					<td class="info">
						{{bloque.info|raw}}
					</td>
				</tr>
			{% endif %}

		</table>
	</td>
</tr>

