<tr>
		<td  cellpadding="0" cellspacing="0" class="contenido" valign="middle" id="social">
				<div>
						<a class="verdeoscuro" href="http://www.multimedia.una.edu.ar">sitio oficial</a> | <a class="verdeoscuro" href="https://twitter.com/UNAmultimedial">twitter</a> | <a class="verdeoscuro" href="https://www.facebook.com/una.multimediales">facebook</a>
				</div>
		</td>
</tr>
<tr>
		<td  cellpadding="0" cellspacing="0" valign="top" class="contenido" id="atam-datos">
			<div>
				Universidad Nacional de las Artes /<br>
				Área Transdepartamental de Artes Multimediales /<br>
				<strong>Dir. de Extensión - Sistemas de Contenidos</strong>
				<br>
				<br><strong>Departamento de Alumnos</strong>
				<br/> 43070624 | <a style="color:#5d9c7e!important;font-weight:bold!important;text-decoration:none!important;" href="mailto:multimedia.academica@una.edu.ar">multimedia.academica@una.edu.ar</a>
				<br/> <strong>Direccion de Extensión y Bienestar Estudiantil</strong>
				<br/> 4307­0622 int 103 | <a style="color:#5d9c7e!important;font-weight:bold!important;text-decoration:none!important;" href="mailto:multimedia.extension@una.edu.ar">multimedia.extension@una.edu.ar</a>
				<br/>
				<strong>Coordinación de Investigación y Posgrado</strong>
				<br/> 43070622 int 107 | <a style="color:#5d9c7e!important; font-weight:bold!important;text-decoration:none!important;" href="mailto:multimedia.investigacion@una.edu.ar">multimedia.investigacion@una.edu.ar</a>
			</div>
		</td>
</tr>
<tr>
		<td colspan="2" class="contenido" valign="middle" id="subscripciones">
				<div>
						<a class="verdeoclarisimo"
							href="https://docs.google.com/forms/d/18W0SGXf-9sQSBQ17DOaHYCO0wq80V6Mbay2KNnpnJZI/viewform">
							desuscribime de esta lista
						</a> |
						<a class="verdeoclarisimo"
							href="mailto:contenidos@cpamvirtual.com.ar?subject=Quiero%20agregarme%20a%20la%20lista%20de%20difusión">
							agregarme a esta lista
						</a>
				</div>
		</td>
</tr>
