<tr>
	<td align="center" valign="top">
		<table border="0" cellpadding="10" cellspacing="0" width="600"
			class="seccion">

			<tr>
				<td  class="titulo">
					<h3>{{seccion.titulo}}</h3>
				</td>
			</tr>


			{% if seccion.contenido %}
				<tr>
					<td class="contenido">
						{{seccion.contenido|raw}}
					</td>
				</tr>
			{% endif %}


			{% for bloque in seccion.bloques %}
				{% block bloque %}
					{% include 'bloque.html.twig' %}
				{% endblock %}

			{% endfor %}


			{% if seccion.info %}
				<tr>
					<td class="info">
						{{seccion.info|raw}}
					</td>
				</tr>
			{% endif %}

		</table>
	</td>
</tr>

